<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">

	<!-- Rolling file Appender -->
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/server.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="INFO" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%C{1}] - %m%n" />
		</layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%C{1}] - %m%n" />
		</layout>
	</appender>

	<appender name="DEBUGFILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/debug.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="INFO" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE}#%X{requestId} %-5p [%c{1}] - %m%n" />
		</layout>
	</appender>
	
	<logger name="com.erosnow.search.common.log.DebugLogger"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="DEBUGASYNC" />
	</logger>

	<appender name="DEBUGASYNC" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="500" />
		<appender-ref ref="DEBUGFILE" />
	</appender>

	<root>
		<priority value="DEBUG"></priority>
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>
